<!-- bootstrap sample header -->
<header class="p-3 text-bg-dark opacity-75">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="http://localhost:3001/" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/profile/1" class="nav-link px-2 text-white">My Profile</a></li>
        <li><a href="/chat/landing" class="nav-link px-2 text-white">Chat</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Support</a></li>
      </ul>
      <a href="/login">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
      </a>
      <a href="/signup">
        <button type="button" class="btn btn-outline-light">Signup</button>
      </a>
    </div>
  </div>
</header>