  <main class="mt-5">
    <div class="container">
      
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
              <img src="https://i.pinimg.com/originals/f9/a8/d8/f9a8d81bd199ca5527c9035a87ac28ac.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>What is Cinder?</strong></h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
              eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
              sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
            </p>
            <p><strong>Yada yada yada sample text</strong></p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
              nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
              alias, unde optio accusantium soluta, iusto molestiae adipisci et?
            </p>
          </div>
        </div>
      </section>
     

      <hr class="my-5" />

    
      <section class="text-center">
        <h4 class="mb-5"><strong>Cinder Features</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://img.freepik.com/free-vector/hands-young-people-holding-phones-with-dating-profiles_74855-20133.jpg?w=1800&t=st=1672975343~exp=1672975943~hmac=2bb50bd60f67990273c3db78665067da476316792c2e087744e4d20b3655bd9d" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Match</h5>
                <p class="card-text">
                  Search through our vast collection of users and see if you light a spark with that special someone!
                </p>
                <!-- <a href="#!" class="btn btn-primary">Button</a> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://img.freepik.com/free-vector/hand-drawn-flat-people-talking_23-2149051163.jpg?w=2000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Chat</h5>
                <p class="card-text">
                  Once that match is lit, get to chatting! Keep feeding that flame!
                </p>
                 <!-- <a href="#!" class="btn btn-primary">Button</a> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://img.freepik.com/free-vector/dating-couple-enjoying-romantic-dinner_74855-5233.jpg?w=1800&t=st=1672975423~exp=1672976023~hmac=c3a2a4d20bc8aa8dbc834c43f8993b0af390040b0b36e89549f23148d1d971d4" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Date</h5>
                <p class="card-text">
                  Keep the fire going and contine your journey together! Will you be able to keep it aflame? Or will it turn to Cinder?
                </p>
                <!-- <a href="#!" class="btn btn-primary">Button</a> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      

      <hr class="my-5" />
    </div>
  </main>