<!-- <div>
    <h1>
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#86496"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Responsive image</text></svg>
    
    </h1>
</div>
-->

  <header>
    <style>
      #intro {
        background-image: "./style/images/Component1.png";
        height: 100vh;
      }

      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

      .navbar .nav-link {
        color: #fff !important;
      }
    </style>
  
  </header>

  <main class="mt-5">
    <div class="container">
      
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
              <img src="/style/images/cinderdark.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>What is Cinder?</strong></h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
              eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
              sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
            </p>
            <p><strong>Yada yada yada sample text</strong></p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
              nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
              alias, unde optio accusantium soluta, iusto molestiae adipisci et?
            </p>
          </div>
        </div>
      </section>
     

      <hr class="my-5" />

    
      <section class="text-center">
        <h4 class="mb-5"><strong>Cinder Features</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://img.freepik.com/free-vector/hands-young-people-holding-phones-with-dating-profiles_74855-20133.jpg?w=1800&t=st=1672975343~exp=1672975943~hmac=2bb50bd60f67990273c3db78665067da476316792c2e087744e4d20b3655bd9d" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Match</h5>
                <p class="card-text">
                  Search through our vast collection of users and see if you light a spark with that special someone!
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://img.freepik.com/free-vector/hand-drawn-flat-people-talking_23-2149051163.jpg?w=2000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Chat</h5>
                <p class="card-text">
                  Once that match is lit, get to chatting! Keep feeding that flame!
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://img.freepik.com/free-vector/dating-couple-enjoying-romantic-dinner_74855-5233.jpg?w=1800&t=st=1672975423~exp=1672976023~hmac=c3a2a4d20bc8aa8dbc834c43f8993b0af390040b0b36e89549f23148d1d971d4" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Date</h5>
                <p class="card-text">
                  Keep the fire going and contine your journey together! Will you be able to keep it aflame? Or will it turn to Cinder?
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      

      <hr class="my-5" />

     
      <section class="mb-5">
        <h4 class="mb-5 text-center"><strong>Sign Up for Cinder</strong></h4>
            <section class="mb-5">
     <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <form>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" checked />
                <label class="form-check-label" for="form2Example3">
                  Subscribe to our newsletter
                </label>
              </div>

              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
            
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
  


  <footer class="bg-light text-lg-start">

    <hr class="m-0" />
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark">Cinder</a>
    </div>
  </footer>