<main class="mt-5 opacity-90">
  <div class="container">

    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <img src="/images/cinderlight.png" class="img-fluid" style="filter: drop-shadow(0 4mm 4mm rgb(0, 0, 0));" />
        </div>
        <div class="col-md-6 gx-5 mb-4">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Welcome to Cinder</h2>
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
              eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
              sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
            </p>
           
            <button class="btn btn-outline-light" type="button">let him cook</button>
          </div>
        </div>
      </div>
    </section>

    <hr class="my-5 text-light" />

    <section class="text-center">
      <h1 class="display-3 text-light fw-bold my-5" style="text-shadow: 0px 3px 6px black;">Cinder Features</h1>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card-body h-100 p-4 text-bg-dark rounded-3">
            <p>
            <h3 class="card-title-">Match</h3>
            </p>
            <video autoplay muted loop class="w-100 cardvid" id="swipevid">
              <source src="/videos/swipe_480.mp4" type="video/mp4">
            </video>
            <p class="card-text text-muted">
              Search through our vast collection of users and see if you light a spark with that special someone!
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card-body h-100 p-4 text-bg-dark rounded-3">
            <p>
            <h3 class="card-title">Chat</h3>
            </p>
            <video autoplay muted loop class="w-100 cardvid" id="chatvid">
              <source src="/videos/chat_480.mp4" type="video/mp4">
            </video>
            <p class="card-text text-muted">
              Once that match is lit, get to chatting! Keep feeding that flame!
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card-body h-100 p-4 text-bg-dark rounded-3">
            <p>
            <h3 class="card-title">Date</h3>
            </p>
            <video autoplay muted loop class="w-100 cardvid" id="datevid">
              <source src="/videos/date_480.mp4" type="video/mp4">
            </video>
            <p class="card-text text-muted">
              Keep the fire going and continue your journey together! Will you be able to keep it alight? Or will it
              turn to Cinder?
            </p>
          </div>
        </div>
      </div>
    </section>

    <hr class="my-5 text-light" />

    <div class="px-4 pb-5 text-center">
      <h1 class="display-5 text-light fw-bold" style="text-shadow: 0px 3px 6px black;">What are you waiting for?</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead text-light mb-4">Come join us</p>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          <a href="/login">
            <button type="button" class="btn btn-outline-light btn-lg px-4">Login</button>
          </a>
          <a href="/signup">
            <button type="button" class="btn btn-outline-light btn-lg px-4">Signup</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>