<form id="login-form">
    <div>
        Email <input type="text" id="username" placeholder="Email Here" />
    </div>
     <div>
        Password <input type="text" id="password" placeholder="Password Here" />
    </div>
    <button>
        Sign Up!
    </button>
</form>