{{> header}}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/logo.png" class="d-block mx-lg-auto img-fluid" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">A little about Cinder</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae totam quae debitis, fuga, ratione praesentium dolore repudiandae facilis quibusdam odit possimus aut expedita, sit pariatur assumenda suscipit? Aliquid, doloribus officia.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Neat</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Awesome</button>
        </div>
      </div>
    </div>
  </div>