{{> header}}
<div>
    <li>
        <a>
            <p>
                Cinder is a social dating platform for developers and people who love the tech industry!
                This app was designed to give software devs, web devs, and all other developers a speical place of their own
                in the online world of dating!
            </p>
            <p>
                Check out all of what Cinder has to offer by signing up today! Create a unique profile to showcase your speical
                characters and upload images to share with everyone! You can also add some cool stuff about you in your own customizable bio!
            </p>
        </a>
    </li>
</div>