	<title>Cindir Chat</title>
        {{> header}}
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> Cindir Chat</h1>
			</header>
			<main class="join-main">
				<form action="chat.html">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Room</label>
						<select name="room" id="room">
							<option value="JavaScript">JavaScript</option>
							<option value="Python">Python</option>
							<option value="PHP">PHP</option>
							<option value="C#">C#</option>
							<option value="Ruby">Ruby</option>
							<option value="Java">Java</option>
						</select>
					</div>
					<button onclick='/chatmain' type="submit" class="btn btn-outline-dark">Join Chat</button>
				</form>
			</main>
		</div>
        {{> footer}}