{{> header}}
<form id="login-form">
    <div>
     <section class="mb-5">
        <h4 class="mb-5 text-center"><strong>Sign Up for Cinder</strong></h4>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <form>
             
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Sign up
                </button>
              </div>
            </form>
          </div>
        </div>

</form>

   <footer class="bg-light text-lg-start">
    <hr class="m-0" />
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark">Cinder</a>
      </div>
  </footer>



